In [2]:
# Imports
import pandas as pd
import numpy as np

In [3]:
water_quality_df = pd.read_csv('data/BKB_WaterQualityData_2020084.csv')

In [4]:
water_quality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2371 entries, 0 to 2370
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Site_Id                  2370 non-null   object
 1   Unit_Id                  32 non-null     object
 2   Read_Date                2366 non-null   object
 3   Salinity (ppt)           2241 non-null   float64
 4   Dissolved Oxygen (mg/L)  1520 non-null   float64
 5   pH (standard units)      2276 non-null   float64
 6   Secchi Depth (m)         2298 non-null   float64
 7   Water Depth (m)          2300 non-null   float64
 8   Water Temp (?C)          2250 non-null   float64
 9   Air Temp-Celsius         85 non-null     float64
 10  Air Temp (?F)            2300 non-null   float64
 11  Time (24:00)             2308 non-null   object
 12  Field_Tech               2332 non-null   object
 13  DateVerified             453 non-null    object
 14  WhoVerified              453 non-null    object
 15  AirTemp (C)              2371 non-null   float64
 16  Year                     2371 non-null   int64
dtypes: float64(9), int64(1), object(7)
memory usage: 315.0+ KB

In [5]:
water_quality_df.isna().sum()

Site_Id                       1
Unit_Id                    2339
Read_Date                     5
Salinity (ppt)              130
Dissolved Oxygen (mg/L)     851
pH (standard units)          95
Secchi Depth (m)             73
Water Depth (m)              71
Water Temp (?C)             121
Air Temp-Celsius           2286
Air Temp (?F)                71
Time (24:00)                 63
Field_Tech                   39
DateVerified               1918
WhoVerified                1918
AirTemp (C)                   0
Year                          0
dtype: int64

In [7]:
water_quality_df.head()

,Site_Id,Unit_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),Field_Tech,DateVerified,WhoVerified,AirTemp (C),Year
0,Bay,NaN,1/3/1994,1.3,11.7,7.3,0.40,0.40,5.9,8.0,46.40,11:00,NaN,NaN,NaN,8.0,1994
1,Bay,NaN,1/31/1994,1.5,12.0,7.4,0.20,0.35,3.0,2.6,36.68,11:30,NaN,NaN,NaN,2.6,1994
2,Bay,NaN,2/7/1994,1.0,10.5,7.2,0.25,0.60,5.9,7.6,45.68,9:45,NaN,NaN,NaN,7.6,1994
3,Bay,NaN,2/23/1994,1.0,10.1,7.4,0.35,0.50,10.0,2.7,36.86,NaN,NaN,NaN,NaN,2.7,1994
4,Bay,NaN,2/28/1994,1.0,12.6,7.2,0.20,0.40,1.6,0.0,32.00,10:30,NaN,NaN,NaN,0.0,1994

In [12]:
cols_to_remove = ['Unit_Id', 'Field_Tech', 'WhoVerified', 'DateVerified']
for col in cols_to_remove:
    print(f'Unique value in {col} feature {water_quality_df[col].unique()} \n')

Unique value in Unit_Id feature [nan '01CSV' '01csv']

Unique value in Field_Tech feature [nan 'John Phillips' 'J Phillips, Mary Feldman' 'Feldman'
 'Strader, Pease, Feldman' 'Pease, Strader' 'Strader' 'Not Recorded'
 'Strader, S. Poe' 'S. Poe' 'Sue Poe' 'sue Poe' 'Susan Poe' 'Sue POE'
 'Sue poe']

Unique value in WhoVerified feature [nan 'Karen Beatty' 'K Beatty' 'K. Beatty' 'Trenton Miller'
 'Rebecca Walawender' 'Karen Callaway' 'Amy Keiler' 'amy keiler'
 'Kayla Braasch' 'Erin Bailey' 'Carly Sibilia' 'Christine Folks']

Unique value in DateVerified feature [nan '3/27/2014' '4/14/2014' '5/16/2014' '5/21/2014' '6/16/2014'
 '6/23/2014' '7/10/2014' '7/24/2014' '8/13/2014' '9/11/2014' '9/25/2014'
 '10/14/2014' '10/21/2014' '11/18/2014' '12/4/2014' '12/2/2014'
 '1/13/2015' '2/10/2015' '2/24/2015' '5/8/2015' '6/3/2015' '6/12/2015'
 '1/4/2016' '1/11/2016' '1/15/2016' '2/29/2016' '3/28/2016' '3/22/2016'
 '4/19/2016' '5/6/2016' '8/31/2016' '4/11/2017' '8/7/2017' '10/17/2017'
 '11/17/2017' '10/29/2019' '10/30/2019' '10/23/2019' '10/31/2019'
 '11/1/2019' '11/5/2019' '11/6/2019' '11/12/2019' '11/13/2019']

In [13]:
clean_df = water_quality_df.drop(columns=cols_to_remove)

In [14]:
clean_df

,Site_Id,Read_Date,Salinity (ppt),Dissolved Oxygen (mg/L),pH (standard units),Secchi Depth (m),Water Depth (m),Water Temp (?C),Air Temp-Celsius,Air Temp (?F),Time (24:00),AirTemp (C),Year
0,Bay,1/3/1994,1.3,11.7,7.3,0.40,0.40,5.9,8.0,46.40,11:00,8.000000,1994
1,Bay,1/31/1994,1.5,12.0,7.4,0.20,0.35,3.0,2.6,36.68,11:30,2.600000,1994
2,Bay,2/7/1994,1.0,10.5,7.2,0.25,0.60,5.9,7.6,45.68,9:45,7.600000,1994
3,Bay,2/23/1994,1.0,10.1,7.4,0.35,0.50,10.0,2.7,36.86,NaN,2.700000,1994
4,Bay,2/28/1994,1.0,12.6,7.2,0.20,0.40,1.6,0.0,32.00,10:30,0.000000,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366,Bay,10/11/2018,1.9,5.0,7.0,4.00,1.20,25.0,NaN,78.00,09:30,25.555556,2018
2367,Bay,10/24/2018,0.0,9.0,7.0,0.30,0.60,18.0,NaN,58.00,09:30,14.444444,2018
2368,Bay,10/28/2018,0.9,2.9,7.0,0.40,0.90,13.0,NaN,49.00,09:20,9.444444,2018
2369,Bay,11/7/2018,1.7,NaN,7.0,0.45,0.90,20.0,NaN,65.00,09:45,18.333333,2018
2370,Bay,12/11/2018,0.1,NaN,7.0,0.10,0.10,10.0,NaN,42.00,09:40,5.555556,2018